*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body{
  overflow: hidden;
}

main{
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.card p{
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
}


.card p span{
  font-weight: 700;
  color: rgb(240, 167, 255);
}

.card {
  width: 450px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
 padding: 30px;
}

.outer {
  height: 20px;
  width: 100%;
  border-radius: 50px;
  background-color: lightgray;
}

.inner {
  height: 100%;
  width: 0%;
  border-radius: 50px;
  background-color: green;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.bottom h2{
  font-size: 40px;
  font-family: monospace;
}

.bottom button{
  padding: 12px 25px;
  background-color: rgb(74, 175, 247);
  color: white;
  border-radius: 5px;
  font-size: 15px;

  font-weight: 600;
  border: 0;
  cursor: pointer;
}

.bottom button:active{
  scale: 0.95;
}